@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

body {
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0 1.38rem;
  font-weight: 700;
  line-height: 1.3;
}
h1 {
  margin-top: 0;
  font-size: clamp(3rem, 1rem + 5vw, 5rem);
}

h2 {
  font-size: clamp(2.5rem, 1rem + 4.5vw, 4rem);
}

h3 {
  font-size: clamp(2rem, 1rem + 4vw, 3rem);
}

h4 {
  font-size: clamp(1.5rem, 1rem + 3.5vw, 2rem);
}

h5 {font-size: 1.5rem;}

p {
  font-size: clamp(1.2rem, 1rem + 1vw, 1.8rem);
  font-weight: normal;
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: $base-margin;
}

ul > li, ol > li, dl > dt {
  font-size: clamp(1.2rem, 1rem + 1vw, 1.8rem);
}

small {font-size: 1rem;}

a.before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  right: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a:hover:before {
  visibility: visible;
  width: 100%;
}
